<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nabda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Cv11"></activity>
        <activity android:name=".CV9" />
        <activity android:name=".Cv16" />
        <activity android:name=".Cv15" />
        <activity android:name=".Cv14" />
        <activity android:name=".Cv13" />
        <activity android:name=".Cv12" />
        <activity android:name=".CV7" />
        <activity android:name=".CV8" />
        <activity android:name=".CV6" />
        <activity android:name=".CV5" />
        <activity android:name=".CV4" />
        <activity android:name=".CV3" />
        <activity android:name=".cv2" />
        <activity android:name=".cv1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>